body{
    margin: 0;
    padding: 0;
    font-family: 'Bangers', cursive;

}

.nav{
    display: flex;
    flex-direction: column;
    color: #F9FAF8;
    font-size: 72px;
    font-family: 'Bangers', cursive;
    background-color: #1F2937;
    padding: 20px 30px;
    justify-content: center;
    align-items: center;
}
.nav h1{
    font-size: 28px;
}
.big-text{
    display: flex;
}
.small-text{
    letter-spacing: 0.1em;
}
.main{
    margin: 40px;
}
.nav div{
    margin: 0 10px;
}

.main span{
    margin-right: 80px;
}

.output{
    display: flex;
    /* gap: 80px; */
    justify-content: center;
}

.text{
    font-family: 'Bangers', cursive;
    margin-top: 12px;
    margin-right: 10px;
    font-size: 40px;
}

.choices{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    gap: 80px
}

.choices img{
    width: 200px;
    transition: transform .2s;
}
.choices img:hover{
    transform: scale(1.2);
}

#winner{
    font-size: 40px;
    text-align: center;

}